<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="stud1" class="com.srm.springbasic.Student" />
<bean id="stud2" class="com.srm.springbasic.Student" />
<bean id="lifecycle" class="com.srm.springbasic.LifeCycle" init-method="init" destroy-method="destroy" >
   <property name="data" value="I am from data method" />
</bean>
</beans>